<div class="review">
    <div class="review__star-box">
        <div class="review__rating">{{rate}}</div>
        <div class="review__star">
            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.8647 2.99616C12.4794 2.33201 11.5203 2.33201 11.1349 2.99616L8.42083 7.67347C8.23045 8.00155 7.90141 8.22544 7.52634 8.28209L2.44003 9.05032C1.58575 9.17935 1.28609 10.258 1.95139 10.8092L5.74048 13.9484C6.09123 14.239 6.25615 14.6973 6.17094 15.1448L5.17978 20.3499C5.02309 21.1727 5.88688 21.812 6.62803 21.4218L11.4174 18.9C11.782 18.708 12.2177 18.708 12.5822 18.9L17.3716 21.4218C18.1128 21.812 18.9765 21.1727 18.8199 20.3499L17.8287 15.1448C17.7435 14.6973 17.9084 14.239 18.2591 13.9484L22.0482 10.8092C22.7135 10.258 22.4139 9.17935 21.5596 9.05032L16.4733 8.28209C16.0982 8.22544 15.7692 8.00155 15.5788 7.67347L12.8647 2.99616Z" fill="black"/>
            </svg>
        </div>
    </div>
    <div class="review__text">
        <div class="font_h3">{{name}}</div>
        <div class="font-paragraph">
            {{text}}
        </div>
        <div class="review__info font-label font_color_gray">
            {{date}}
        </div>
    </div>
</div>
