<div class="tick-form-group">
    <div class="font_h3">{{groupTitle}}</div>
    {{#each checkboxes}}
        <label class="tick-form-container">
            <input id="{{id}}" type="checkbox"
                {{#if checked}} checked {{/if}}>
            <span class="tick-form-checkmark"></span>
            <div class="font-label tick-form-info">
                <div class="tick-form-info__name">
                    {{ name }}
                </div>
                <div class="tick-form-info__price">
                    {{ cost }}
                </div>
            </div>
        </label>
    {{/each}}
</div>