<button class="button-icon-v
    {{#each classes}}{{this}}{{/each}} button_color_transparent">
    <div class="button-icon-v__icon-wrapper">
        {{{icon}}}
    </div>
    <div class="button-icon-v__text">{{label}}</div>
</button>