<label class="checkbox-container">
    <input type="checkbox"
    {{#if checked}} checked {{/if}}>
    <span class="checkbox-checkmark"></span>
    <div class="font-label checkbox-info">
        <div class="checkbox-info__name">
            {{ name }}
        </div>
        <div class="checkbox-info__price">
            {{ price }}
        </div>
    </div>
</label>