<div class="list">
    <div id="{{listTitle}}" class="list-title">
        <div class="font_h1">
            {{listTitle}}
        </div>
        <div class="list__button-wrapper">
            {{#each buttons}}
                <div class="list__button mr">
                    {{{this}}}
                </div>
            {{/each}}
        </div>
    </div>
    {{#each content}}
        {{{this}}}
    {{/each}}
</div>