.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;

  &-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button-wrapper {
   display: flex;
  }
}