.hamburger {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  width: var(--hamburgerWidth);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;

  padding: var(--hamburgerPadding);
  box-sizing: border-box;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
  background-color: white;

  animation-name: animateleft;
  animation-duration: 0.4s;

  &__button {
    margin-top: var(--hamburgerButtonsVertMargin);
    margin-bottom: var(--hamburgerButtonsVertMargin);
    flex-shrink: 0;
  }

  &__gray-button {
    color: rgba(0, 0, 0, 0.6);
  }

  &__button_align-text_center {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  &__line {
    border: none;
    background-color: var(--color-primary);
    width: 100%;
    height: 2px;
  }

  &__profile {
    padding-left: var(--buttonPaddingHor);
    height: var(--hamburgerProfileImgSize);
    display: flex;
    align-items: center;
  }

  &__profile-img {
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: calc(var(--hamburgerProfileImgSize) / 2);
  }

  &__profile-img-box {
    width: var(--hamburgerProfileImgSize);
    height: var(--hamburgerProfileImgSize);
    position: relative;
  }

  &__profile-text-box {
    padding-left: var(--hamburgerProfileTextBoxPaddingLeft);
    display: block;
    font-size: var(--navbarProfileTextBoxFontSize);
    font-weight: normal;
  }

  &__profile-link {
    color: var(--color-secondary);
    font-size: var(--navbarProfileProfileLinkFontSize);
    text-decoration: none;
  }

  @media (min-width: 0px) and (max-width: 300px) {
    & {
      width: 100%;
    }
  }
}

@keyframes animateleft {
  from {left: -300px; opacity: 0}
  to {left: 0; opacity: 1}
}