<div class="font_h1">Заголовок первого уровня</div>
<div class="font_h2">Заголовок второго уровня</div>
<div class="font_h3">Заголовок третьего уровня</div>
<div class="font_h4">Заголовок четвертого уровня</div>

<div class="font-paragraph">Наборный текст на странице</div>
<div class="font-body">Текст абзаца</div>
<div class="font-label">Текст для бэйджей</div>