.card {
  margin: 0 auto 0 auto;
  width: 424px;
  height: 248px;
  border: 1px solid var(--contentBlockColor);
  border-radius: var(--cardRadius);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;

  color: var(--contentBlockColor);
  background-color: var(--contentBlockBackgroundColor);

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding: 0 var(--cardOuterPadding) var(--cardOuterPadding) var(--cardOuterPadding);
  }

  &__card-wrapper {
    padding: var(--cardOuterPadding);
    box-sizing: border-box;
    margin: 15px 0  15px 0;
    border: 1px solid var(--contentBlockColor);
    border-radius: var(--cardRadius);
    flex-direction: column;
    display: flex;
    width: 490px;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__pay-button {
    margin-top: 25px;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  &__close-button {
    cursor: pointer;
  }

  &__row {
    margin: 5px 0 5px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  &__input {
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    margin: 0 5px 0 5px;
  }

  &__input__fs_3 {
    flex-shrink: 3;
  }

  &__cvv-note {
    //color: rgba(0,0,0,.4);
    color: var(--contentBlockColor);
    font-size: 14px;
    margin-left: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  &__row-mt {
    margin-top: 30px;
  }
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}