:root {
  // COLORS

  --color-primary: #F6F6F6;
  --color-green: #3E9920;
  --color-black: black;
  --color-background-black: rgba(0, 0, 0, 0.71);
  --color-white: white;
  --color-gray: #afafaf;
  --color-light-gray: #eeeeee;

  // BUTTONS VARIABLES

  --buttonHeightSmall: 26px;
  --buttonHeightMedium: 36px;
  --buttonHeightBig: 48px;


  --buttonIconVHeight: 60px;
  --buttonIconVIconSize: 50px;
  --buttonIconVBottomMargin: 5px; // margin bottom between icon and text

  --buttonFontSize: 16px;

  --button__icon-size: 14px;
  --button__icon-nav-size: 24px;

  --buttonPaddingHor: 20px; // x paddings inside button
  --buttonIconPadding: 10px; // padding around in icon button
  --buttonIconVPaddingHor: 10px; // x paddings inside vertical icon button

  --buttonBorderRadiusStd: 2px; // std radius
  --buttonBorderRadiusMedium: 10px; // medium radius
  --buttonBorderRadiusHigh: 16px; // high radius

  --buttonIconMarginInside: 10px; // margin between text and icon in button

  --buttonBorder: solid 1px;
  --buttonBorderColor: rgba(0, 0, 0, 0.12);
}