.input {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: var(--inputHeight);
  padding-left: var(--inputPaddingHor);
  padding-right: var(--inputPaddingHor);
  font-size: var(--inputFontSizeStd);

  border: 0;
  border-bottom: var(--inputBorder);
  border-color: var(--inputBorderColor);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);

  margin-bottom: var(--inputMarginBottom);

  &_border {
    border-radius: var(--inputBorderRadius);
    border: var(--inputBorder);
    border-color: var(--inputBorderColor);
  }

  &_without-border {
    border: 0;
  }

  &_radius-border_high {
    border-radius: var(--inputBorderRadiusHigh);
  }

  &_radius-border_medium {
    border-radius: var(--inputBorderRadiusMedium);
  }

  &_border-color_black {
    border-color: rgba(0, 0, 0, 0.3);
  }

  &-label {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &_border {
      flex-direction: row;
      display: flex;
      align-items: center;
      border: var(--inputBorder);
      border-color: var(--inputBorderColor);
    }

    &_border_shape_rounded {
      border-radius: var(--inputBorderRadiusHigh);
    }

    &_color_gray {
      background-color: var(--color-light-gray);
    }

    &_border .input {
      margin-bottom: 0;
    }

    &__text {
      font-size: var(--inputLabelTextFontSize);
      color: var(--inputLabelTextColor);
      margin-bottom: var(--inputLabelTextMarginBottom);
    }
  }

  &-label_with-icon {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-label__icon {
    margin-left: var(--inputIconMargin);
    margin-right: var(--inputIconMargin);
    margin-bottom: var(--inputMarginBottom);
  }
}

input:focus {
  outline: none;
}

.red_border_red {
  border-color: red;
}