.restaurant-block {
  text-decoration: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  border: var(--restaurantBlockBorder);
  border-radius: var(--restaurantBlockRadius);
  margin: var(--restaurantBlockMargin);

  color: var(--contentBlockColor);
  background-color: var(--contentBlockBackgroundColor);

  &:hover {
    margin: var(--restaurantBlockMarginHover);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0 ,0.19);
  }

  &__img {
    position: relative;
    border-top-right-radius: var(--restaurantBlockRadius);
    border-top-left-radius: var(--restaurantBlockRadius);
    width: 100%;
    height: var(--restaurant-block__img-height);
    object-fit: cover;
  }

  &__information {
    display: flex;
    align-items: center;
    padding: var(--restaurantBlockInfoPadding);
    box-sizing: border-box;
  }

  &__text-box {
    width: var(--restaurant-block__text_cut);
    flex-grow: 2;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  &__delivery-info {
    padding-top: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__rating {
    width: 26px;
    height: 26px;
    background: var(--restaurantRatingBackgroundColor);
    color: var(--restaurantRatingColor);
    border-radius: 13px;
    margin-right: 5px;

    align-items: center;
    margin-left: auto;
  }

  @media (min-width: 860px) and (max-width: 1040px) {
    & {
      width: calc(100% / 2 - (45px / 2));
      flex-grow: 0;
    }
  }

  @media (min-width: 0px) and (max-width: 860px) {
    & {
      width: calc(100% - 10px);
      flex-grow: 0;
    }
  }

  @media (min-width: 320px) and (max-width: 1600px) {
    & {
      transition: all 0.2s ease;
    }
  }

  @media (min-width: 1040px) {
    & {
      width: calc(100% / 3 - (44px * 2 / 3));
      flex-grow: 0;
    }
  }
}

.rating__text {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}