.font_h1 {
  font-size: var(--fontSizeH1);
  font-weight: var(--font_bold);
  margin-bottom: var(--fontH1-MarginBottom);
}

.font_h2 {
  font-size: var(--fontSizeH2);
  font-weight: var(--font_bold);
  margin-bottom: var(--fontH2-MarginBottom);
}

.font_h3 {
  font-size: var(--fontSizeH3);
  font-weight: var(--font_bold);
  margin-bottom: var(--fontH3-MarginBottom);
}

.font_h4 {
  font-size: var(--fontSizeH4);
  font-weight: var(--font_bold);
  margin-bottom: var(--fontH4-MarginBottom);
}

.font-body {
  font-size: var(--fontSizeBody);
  font-weight: var(--font_thin);
}

.font-paragraph {
  font-size: var(--fontSizeParagraph);
  font-weight: var(--font_thin);
}

.font-label {
  font-size: var(--fontSizeLabel);
  font-weight: var(--font_thin);
}

.font_color_gray {
  color: var(--color-gray);
}

@media (min-width: 0px) and (max-width: 860px) {
  .font_h1 {
    font-size: var(--fontSizeH1M);
  }

  .font_h2 {
    font-size: var(--fontSizeH2M);
  }

  .font_h3 {
    font-size: var(--fontSizeH3M);
  }

  .font_h4 {
    font-size: var(--fontSizeH4M);
  }

  .font-body {
    font-size: var(--fontSizeBodyM);
  }

  .font-paragraph {
    font-size: var(--fontSizeParagraphM);
  }

  .font-label {
    font-size: var(--fontSizeLabelM);
  }
}
