.button-group__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button-group__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button-group__row-margin {
  margin-right: 10px;
}

.button-group__column-margin {
  margin-bottom: 10px;
}