<label class="radio-container">
    <input type="radio"
        {{#if checked}} checked {{/if}}>
    <span class="radio-checkmark"></span>
    <div class="font-label radio-info">
        <div class="radio-info__name">
            {{ name }}
        </div>
        <div class="radio-info__price">
            {{ price }}
        </div>
    </div>
</label>