<div class="footer">
    <div class="footer__upper-footer">
        <a href="/" class="footer__image">
            <img src="https://hmeats-spaces.fra1.cdn.digitaloceanspaces.com/logoWhite1.svg" height="50" alt="">
        </a>
        <div class="footer__navigation">
            <div class="footer__navigation">
                <a href="/" class="footer__help font-paragraph">Главная</a>
                {{#each nav}}
                    <a href="{{href}}" class="footer__help font-paragraph">{{title}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <hr class="footer__line">
    <div class="footer__lower-footer">
        <div class="font-label">© 2021 HOT TECHNOLOGIES INC.</div>
    </div>
</div>