.content-block {
  width: 100%;
  background-color: var(--contentBlockBackgroundColor);
  color: var(--contentBlockColor);
  border-radius: var(--contentBlockRadius);
  box-shadow: var(--contentBlockBoxShadow);

  box-sizing: border-box;
  padding: var(--contentBlockPadding);

  @media (min-width: 0px) and (max-width: 860px) {
    & {
      border-radius: 2px;
      padding: 10px;
    }
  }
}